{% extends '_base.html' %}
{% load static %}
{% block page_title %}
    Books List
{% endblock page_title %}

{% block content %}
    <div class="container mt-4">
        <div class="row flex-row-reverse justify-content-md-center">
            {% for book in books %}
                <div class="card m-2" style="max-width: 45%">
                    <div class="row g-0 h-100" dir="rtl">
                        <div class="col-md-4">
                            {% if book.cover %}
                                <img src="{{ book.cover.url }}" class="img-fluid rounded-start" alt="{{ book.title }}">
                            {% endif %}
                        </div>
                        <div class="col-md-8 h-100">
                            <div class="d-flex flex-column justify-content-between h-100">
                                <div class="card-body">
                                    <h3 class="card-title"><strong><a class="text-decoration-none"
                                                                      href="{{ book.get_absolute_url }}">{{ book.title }}</a></strong>
                                    </h3>
                                    <p class="card-text pt-3">{{ book.description|truncatewords:30 }}</p>
                                    <p class="text-muted">نویسنده: {{ book.author }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center mt-3">
            <li class="page-item">
                {% if page_obj.has_previous %}
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                {% endif %}
            </li>
            <li class="page-item"><a class="page-link" href="#">{{ page_obj.number }}</a></li>
            <li class="page-item">
                {% if page_obj.has_next %}
                <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
                {% endif %}
            </li>
        </ul>
    </nav>

{% endblock content %}